{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouvelle formule{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formule</h1>

    {{ include('formulas/admin/_form.html.twig') }}

    <a href="{{ path('admin_formulas_index') }}">Retour</a>
{% endblock %}
