<h3>Cher(e) {{ name }},  </h3>

<p>Un visiteur nommé(e) {{ name }} vous a envoyé une demande dinformation </p>
<p>Retrouvez là au plus vite sur votre <a href="{{ url('login') }}"> dashboard </a> </p>
<p>A bientôt</p>

<p> <strong>NetEscape</strong> <br/>
    43 rue de l'échappatoire<br/>
    Paris 75003</br>
    tel : 05 63 99 18 09</br>
    netescapeproject@gmail.com
</p>
