{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <img src="/images/escape-room.jpg" alt="logo-escape-game" width="100%">


    <div class="w-body">
        <h1>THE GAME : NET ESCAPE</h1>
        <div class="row mt-4">
            <div class="col s12 m4">
              <img src="/images/cabin-in-the-woods1.jpg" alt="logo-escape-game" width="100%">
            </div>
            <div class="col s12 m4">
              <img src="/images/assassins1.jpg" alt="logo-escape-game" width="100%">
            </div>
            <div class="col s12 m4">
              <img src="/images/jumanji1.jpg" alt="logo-escape-game" width="100%">
            </div>
            <div class="col s12 m4">
              <img src="/images/vaudou1.jpg" alt="logo-escape-game" width="100%">
            </div>
        </div>
 

        <p>Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel conpositorum fidem sollemniter inquirente nec discernente a societate noxiorum insontes velut exturbatum e iudiciis fas omne discessit, et causarum legitima silente defensione carnifex rapinarum sequester et obductio capitum et bonorum ubique multatio versabatur per orientales provincias, quas recensere puto nunc oportunum absque Mesopotamia digesta, cum bella Parthica dicerentur, et Aegypto, quam necessario aliud reieci ad tempus.<br>
        Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.
        </p>
        <p>Quam ob rem ut ii qui superiores sunt submittere se debent in amicitia, sic quodam modo inferiores extollere. Sunt enim quidam qui molestas amicitias faciunt, cum ipsi se contemni putant; quod non fere contingit nisi iis qui etiam contemnendos se arbitrantur; qui hac opinione non modo verbis sed etiam opere levandi sunt.

</p>
        <p>Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.

</p>
        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt.

</p>
</div>
{% endblock %}