header{
	text-align:center;/*texte centré*/
	height:50px;
}

body{
    margin-top: 100px;
}

.navbar {
    margin-bottom: 20px;
}

.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navbar-fixed-top {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0px;
}

.footer-fixed-bottom {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0px;
}
h1{
	margin-top: 30px;
	margin-bottom: 60px;
	text-align:center;
}

.img-border{
    border:8px solid #ff8b2b;
    border-radius:25px;
    z-index:-1;
}
.bande{
    margin-bottom: 50px;
}
.hover-img{
    z-index:10;
}
.w-body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}