<h3>Cher(e) {{ name }},  </h3>

<p>Vous trouverez la réponse à votre demande : </p>

<p>{{body}}</p>

<p>En espérant avoir vous revoir très bientôt chez NetEscape </p>


<p> <strong>NetEscape</strong> <br/>
    43 rue de l'échappatoire<br/>
    Paris 75003</br>
    tel : 05 63 99 18 09</br>
    netescapeproject@gmail.com</br>
</p>
