{% extends 'base.html.twig' %}

{% block title %}Edit Formulas{% endblock %}

{% block body %}
    <h1>Edit Formulas</h1>

    {{ include('formulas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formulas_index') }}">back to list</a>

    {{ include('formulas/_delete_form.html.twig') }}
{% endblock %}
