<h3>Cher(e) {{ user.username }},  </h3>

<p>Nous avons le regret de vous annoncer que nous ne sommes pas en mesure de maintenir votre réservation prévue le {{ booking.BeginAt|date('Y-m-d') }}.</p>
<br>

<p>N'hésitez pas à revenir vers nous pour toute demande de clarification. Rendez-vous sur notre <a href="{{ url('login') }}"> site </a> pour toute précision.</p>
<p>A bientôt</p>

<p> <strong>NetEscape</strong> <br/>
    43 rue de l'échappatoire<br/>
    Paris 75003</br>
    tel : 05 63 99 18 09</br>
    netescapeproject@gmail.com</br>
</p>