<h3>Cher(e) {{ name }},  </h3>

<p>Votre demande d'information a été envoyée, on vous répond au plus vite ! </p>

<p>Retrouvez toutes nos offres de jeu <a href="{{ url('login') }}"> ICI</a></p>

<p> <strong>NetEscape</strong> <br/>
    43 rue de l'échappatoire<br/>
    Paris 75003</br>
    tel : 05 63 99 18 09</br>
    netescapeproject@gmail.com</br>
</p>
