<form method="post" action="{{ path('admin_games_delete', {'id': game.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce jeu ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ game.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
