{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('admin_users_index') }}">Retour</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
