{% extends 'base.html.twig' %}

{% block title %}Modifier l'image{% endblock %}

{% block body %}
    <h1>Modifier l'image</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-info" href="{{ path('admin_pictures_index') }}">Retour sur la liste</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
